# Capítulo 2 — Objetos en Python (variables, listas, numpy y pandas)

Este notebook acompaña al manual.  
Ejecuta las celdas en orden y modifica el código para practicar.

In [ ]:
# Setup del capítulo (mínimo)
import sys
print("Versión de Python:", sys.version.split()[0])

## Objetivos del capítulo

- identificar los tipos de datos más comunes en Python (texto, números, booleanos),
- crear y manipular **listas** y **diccionarios**,
- trabajar con arreglos de `numpy` (vectores y matrices),
- crear y explorar tablas con `pandas` (`DataFrame`) y seleccionar datos con `[]`, `.loc` y `.iloc`.

## 1. Variables y objetos

### Texto, números y booleanos

In [ ]:
texto = "Hola"
entero = 10
decimal = 3.14
bandera = True  # también existe False

type(texto), type(entero), type(decimal), type(bandera)

### Listas

In [ ]:
lista_texto = ["Ana", "Luis", "María"]
lista_numeros = [10, 20, 30, 40]

**Indexación (empieza en 0)**

In [ ]:
lista_numeros[0]

In [ ]:
lista_numeros[2]

**Slicing (rangos)**

In [ ]:
lista_numeros[1:4]

**Modificar un elemento**

In [ ]:
lista_numeros[2] = 99
lista_numeros

### Funciones y métodos útiles

In [ ]:
max(lista_numeros)

In [ ]:
lista_numeros.sort()
lista_numeros

### Cuidado: alias al copiar listas

In [ ]:
a = [1, 2, 3]
b = a        # alias (mismo objeto)
b[0] = 999

a, b

In [ ]:
a = [1, 2, 3]
b = a.copy() # copia real
b[0] = 999

a, b

### Diccionarios

In [ ]:
estudiante = {"nombre": "Juan", "nota": 14}
estudiante

In [ ]:
estudiante["nota"]

In [ ]:
estudiante["nota"] = estudiante["nota"] + 6
estudiante["edad"] = 20
estudiante

In [ ]:
e1 = {"x": 1, "y": 2}
e2 = e1.copy()
e2["x"] = 999

e1, e2

## 2. Arreglos con numpy

In [ ]:
import numpy as np

### Vectores (array 1D)

In [ ]:
x = np.array([10, 20, 30, 40])
x

In [ ]:
x[2]

In [ ]:
x[[0, 2]]

In [ ]:
x[x > 20]

### Matrices (array 2D)

In [ ]:
A = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12]])
A

In [ ]:
A.shape

In [ ]:
A[1, 2]

In [ ]:
A[:, 1:3]

### Crear arrays útiles

In [ ]:
np.linspace(0, 1, 5)

In [ ]:
np.arange(0, 10)

In [ ]:
np.zeros((2, 3))

In [ ]:
np.ones((2, 3))

### Operaciones con matrices

In [ ]:
B = np.array([[1, 1, 1],
              [2, 2, 2]])
C = np.array([[10, 10, 10],
              [20, 20, 20]])

B + C

In [ ]:
B * C

In [ ]:
M = np.array([[1, 2],
              [3, 4]])
N = np.array([[10, 0],
              [0, 10]])

M @ N

### Inversa y transpuesta

In [ ]:
M_inv = np.linalg.inv(M)
M_inv

In [ ]:
np.round(M @ M_inv, 6)

In [ ]:
M.T

## 3. Tablas con pandas

In [ ]:
import pandas as pd

### Crear un DataFrame

In [ ]:
df = pd.DataFrame({
    "ventas": [100, 120, 90, 130, 110],
    "clima":  ["sol", "sol", "lluvia", "sol", "lluvia"],
    "clientes": [20, 25, 18, 30, 22]
})
df

In [ ]:
df.index = ["d1", "d2", "d3", "d4", "d5"]
df

### Selección de columnas y filas

In [ ]:
df["ventas"]

In [ ]:
df[["ventas", "clientes"]]

In [ ]:
df.loc["d2":"d4"]

In [ ]:
df.iloc[1:4]

In [ ]:
df.loc["d3", "clientes"]

In [ ]:
df.iloc[2, 2]

### Explorar rápidamente un DataFrame

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe(numeric_only=True)

### Variables categóricas y promedios por grupo

In [ ]:
df["clima"] = df["clima"].astype("category")
df.dtypes

In [ ]:
df.groupby("clima")["ventas"].mean()

### Rezagos (shift)

In [ ]:
df["ventas_lag1"] = df["ventas"].shift(1)
df

## Ejercicios propuestos

1) **Listas e índices**  
Crea una lista con 5 números.  
- imprime el primero, el tercero y los últimos dos (usando slicing).

- **Pista:** `lista[-1]` es el último.
- **Respuesta esperada:** tres impresiones correctas sin errores de índice.

In [ ]:
# Escribe tu solución aquí

2) **Alias vs copia**  
Crea una lista `a = [1,2,3]`.  
Haz `b = a` y cambia `b[0]`. Luego repite pero usando `b = a.copy()`.

- **Pista:** en el primer caso cambian ambos; en el segundo no.
- **Respuesta esperada:** en el primer caso `a` cambia; en el segundo `a` se mantiene.

In [ ]:
# Escribe tu solución aquí

3) **numpy: selección booleana**  
Crea `x = np.array([1, 5, 10, 15, 20])` y selecciona solo los valores mayores a 10.

- **Pista:** `x[x > 10]`
- **Respuesta esperada:** `[15 20]`.

In [ ]:
# Escribe tu solución aquí

4) **pandas: selección y groupby**  
Con el `df` del capítulo:
- selecciona solo las columnas `ventas` y `clientes`,
- calcula el promedio de `ventas` por `clima`.

- **Pista:** `df[["ventas","clientes"]]` y `df.groupby("clima")["ventas"].mean()`
- **Respuesta esperada:** un DataFrame/Series y dos promedios (uno por categoría).

In [ ]:
# Escribe tu solución aquí

## Glosario

- **objeto**: cualquier “cosa” en Python (un número, un texto, una lista, etc.).
- **tipo (type)**: la “categoría” de un objeto (`int`, `float`, `str`, `bool`…).
- **índice (index)**: posición de un elemento. En Python empieza en `0`.
- **método**: función “pegada” a un objeto, por ejemplo `lista.sort()`.
- **mutabilidad**: si un objeto puede cambiarse “por dentro” (listas sí; tuplas no).
- **alias**: dos nombres apuntando al mismo objeto.